/* 3D & Animation */
/* General Purpose */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #0085CF;
  text-decoration: underline;
}
/* Form Elements */
form,
form label {
  font-size: 12px;
  font-family: verdana;
}
form fieldset,
fieldset.fs {
  margin: 20px 11px 23px;
  padding: 12px 9px 0;
  background-color: #e5e5e5;
  border: 1px solid #aaaaaa;
  border-right-color: #c7c7c7;
  border-bottom-color: #dbdbdb;
  border-left-color: #c7c7c7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbbbbb;
  -moz-box-shadow: inset 0px 1px 0px 0px #bbbbbb;
  box-shadow: inset 0px 1px 0px 0px #bbbbbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
form fieldset.fs2 {
  margin: 8px;
}
fieldset.fs legend,
fieldset.fs2 legend {
  font-size: 12px;
  width: auto;
  line-height: 15px;
  font-weight: bold;
  padding: 4px 12px;
  margin-left: 15px;
  margin-bottom: 0px;
  border: 1px solid #9a9a9a;
  border-right-color: #909090;
  border-bottom-color: #8c8c8c;
  border-left-color: #656565;
  /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/

  background-color: #ffffff;
  background: -moz-linear-gradient(top, #fff 1%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, #fff 1%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #fff 1%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #fff 1%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
  background: linear-gradient(top, #fff 1%, #f3f3f3 50%, #ececec 50%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(50%, #f3f3f3), color-stop(50%, #ececec), color-stop(100%, #f2f2f2));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
/*input[type=text], input[type=password], input[type=search], input[type=submit], input[type=reset], input[type=button], button, textarea, select, div.textbox {
    .border(#9b9b9b, #acacac, #bababa, #adadad);
}
input[type=text], input[type=password], input[type=search], textarea, div.textbox {
    margin: 1px;
    padding: 4px 0 4px 23px;
    width: 120px;
    background: #fff;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover, select:hover {
    .border(#9b9b9b, #acacac, #bababa, #adadad);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 2px solid #9abedb;
    margin: 0;
}
select:focus {
    border: 1px solid #9abedb;
}
input[disabled], input[disabled]:hover {
    border: 1px solid #ABADB3;
    color: #808080;
    background-color: #E1E1E1;
}
select {
    height: 20px;
}*/
input.input,
input.date,
input.time,
select.select,
textarea.input,
.invalidField {
  color: #000000;
  font-size: 11px;
  padding: 4px 3px 2px;
  width: 137px;
  margin: 0;
}
input.date,
input.time {
  background-position: 3px center;
  background-repeat: no-repeat;
}
input.date {
  background-image: url('../img/date.png');
}
input.time {
  background-image: url('../img/clock.png');
}
input.browse {
  width: 117px !important;
}
input.success,
textarea.success,
select.success {
  color: #468847 !important;
  border-color: #468847;
  background-color: '#fff';
  background: -moz-linear-gradient(top, #dff0d8, #fff);
  background: -webkit-linear-gradient(top, #dff0d8, #fff);
  background: -o-linear-gradient(top, #dff0d8, #fff);
  background: -ms-linear-gradient(top, #dff0d8, #fff);
  background: linear-gradient(top, #dff0d8, #fff);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.success:focus,
textarea.success:focus,
select.success:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
input.invalid,
textarea.invalid,
select.invalid {
  color: #b94a48 !important;
  border-color: #ee5f5b;
  background-color: '#fff';
  background: -moz-linear-gradient(top, #fff0f0, #fff);
  background: -webkit-linear-gradient(top, #fff0f0, #fff);
  background: -o-linear-gradient(top, #fff0f0, #fff);
  background: -ms-linear-gradient(top, #fff0f0, #fff);
  background: linear-gradient(top, #fff0f0, #fff);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.invalid:focus,
textarea.invalid:focus,
select.invalid:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
/* Dialog/Window */
div.dialogWrap {
  position: relative;
  height: 100%;
  margin-top: 28px;
}
div.dialogWrap div.dialog div.tableWrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
}
div.dialogWrap div.dialog div.content {
  width: 100%;
  height: 100%;
  position: relative;
}
div.dialogWrap div.dialog div.content div.shortListing {
  position: absolute;
  width: 100%;
  opacity: 0;
}
div.dialogWrap div.dialog div.content div.shortListing ul {
  position: relative;
  height: 480px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}
div.dialogWrap div.dialog div.content div.shortListing ul li {
  background-color: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -webkit-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -o-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -ms-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: linear-gradient(top, #f4f4f4, #f6f6f6);
  position: relative;
  border-bottom: 1px solid #dadada;
  line-height: 15px;
  z-index: 2;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}
div.dialogWrap div.dialog div.content div.shortListing ul li:nth-child(odd) {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -webkit-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -o-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -ms-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: linear-gradient(top, #e9e9e9, #e7e7e7);
}
div.dialogWrap div.dialog div.content div.shortListing ul li:hover {
  background-color: #f5f5f5;
  background: -moz-linear-gradient(linear, 0 0, 0 100%, from(rgba(27,136,214,0)), color-stop(50%, #1b88d6), to(rgba(27,136,214,0)));
  background: -webkit-linear-gradient(linear, 0 0, 0 100%, from(rgba(27,136,214,0)), color-stop(50%, #1b88d6), to(rgba(27,136,214,0)));
  background: -o-linear-gradient(linear, 0 0, 0 100%, from(rgba(27,136,214,0)), color-stop(50%, #1b88d6), to(rgba(27,136,214,0)));
  background: -ms-linear-gradient(linear, 0 0, 0 100%, from(rgba(27,136,214,0)), color-stop(50%, #1b88d6), to(rgba(27,136,214,0)));
  background: linear-gradient(linear, 0 0, 0 100%, from(rgba(27,136,214,0)), color-stop(50%, #1b88d6), to(rgba(27,136,214,0)));
}
div.dialogWrap div.dialog div.content div.shortListing ul li div {
  border-top: 1px solid #fff;
  border-left: 2px solid transparent;
  padding: 10px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
div.dialogWrap div.dialog div.content div.shortListing ul li div:hover {
  border-left: 3px solid #1b88d6;
}
div.dialogWrap div.dialog div.content div.shortListing ul li.selected div {
  border-left: 4px solid #3ec84c;
  color: #468847;
  font-weight: bold;
}
div.dialogWrap div.dialog div.content div.contentBody {
  position: absolute;
  width: 0%;
  right: 0;
  height: 1500px;
  background-color: #fff;
  -webkit-box-shadow: 4px 0px 20px 0px rgba(000, 000, 000, 0.8);
  -moz-box-shadow: 4px 0px 20px 0px rgba(000, 000, 000, 0.8);
  box-shadow: 4px 0px 20px 0px rgba(000, 000, 000, 0.8);
}
div.dialogWrap div.dialog div.content div.contentBody .arrow,
div.dialogWrap div.dialog div.content div.contentBody .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
div.dialogWrap div.dialog div.content div.contentBody .arrow {
  border-width: 11px;
  top: 20px;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
div.dialogWrap div.dialog div.content div.contentBody .arrow:after {
  left: -9px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
div.dialogWrap div.dialog div.content div.contentBody .arrow:after {
  border-width: 10px;
  content: "";
}
div.dialogWrap div.dialog input[type=text],
div.dialogWrap div.dialog input[type=password] {
  width: 137px;
}
div.dialogWrap div.dialog input[type=text],
div.dialogWrap div.dialog input[type=password],
div.dialogWrap div.dialog input[type=search] {
  color: #000000;
  font-size: 11px;
  padding: 4px 3px 2px;
}
div.dialogWrap div.dialog textarea {
  font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
  height: 42px;
}
div.dialogWrap div.dialog select {
  width: 145px;
  padding-top: 1px;
}
div.dialogWrap div.dialog textarea,
div.dialogWrap div.dialog select {
  color: #000000;
  font-size: 11px;
  padding: 4px 3px 2px;
}
div.dialogWrap div.dialog div.message {
  position: relative;
}
div.dialogWrap div.dialog div.message div.alert {
  display: none;
}
div.dialogWrap div.dialog div.message div.alert button.close,
div.dialogWrap div.dialog div.message div.alert button.close:hover {
  /* override maxmertkit */

  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.dialogWrap div.dialog div.message div.label {
  position: absolute;
  top: 7px;
  right: -100px;
}
div.dialogWrap div.dialog div.message div.loading {
  color: #fff;
  background-image: url('../img/back/loading.gif');
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 25px;
}
div.dialogWrap div.dialog table.number input[type=text] {
  width: 50px;
}
div.dialogWrap div.dialog input.progress {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.dialogWrap div.dialog div.buttonWrap {
  padding-right: 11px;
  text-align: right;
}
/* Screen Cube */
div.container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  perspective: 800;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
div.container div#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
div.container div#cube div.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
div.container div#cube div.workspace,
div.container div#cube div.login {
  background: #818385 url('../img/back/bg.jpg') center center no-repeat;
  background-size: 100% 100%;
}
/* Menu Bar */
div.menubarWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
#menu_bar {
  position: relative;
  height: 25px;
  -webkit-box-shadow: 0px 0px 10px 2px;
  -moz-box-shadow: 0px 0px 10px 2px;
  box-shadow: 0px 0px 15px 2px #000;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  transition: opacity 600ms;
}
#menu_bar div.bar {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: white;
  left: 0;
  top: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 0;
}
#menu_bar div.content {
  position: absolute;
  width: 100%;
  color: #000;
  left: 0;
  top: 0;
  z-index: 10;
}
#menu_bar div.content div.dropdown {
  margin: 3px 13px 0;
  float: left;
}
#menu_bar div.content ul.dropdown-menu {
  background: transparent url('../img/spacer.png') repeat;
}
#menu_bar div.content ul.dropdown-menu[role=menu] {
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
}
#menu_bar div.content div.menubarIcon {
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
  height: 16px;
  padding: 4px 6px 5px;
  width: 16px;
}
#menu_bar div.content #ico-home {
  background-image: url('../img/i-home.png');
  margin: 0 8px;
  float: left;
}
#menu_bar div.content div.sitename {
  padding: 3px;
}
#menu_bar div.content div.sitename a {
  font-size: 15px;
  font-weight: bold;
}
#menu_bar div.content div.datetime {
  font-size: 13px;
  min-width: 207px;
  padding: 4px 40px 0 10px;
}
#menu_bar div.content div.mbi {
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-right: 16px;
  position: relative;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#menu_bar div.content div.missionControl {
  background-image: url('../img/back/mission-control.png');
}
#menu_bar div.content div.notification {
  background-image: url('../img/back/notification.png');
}
#menu_bar div.content div.fullscreen {
  background-image: url('../img/back/fs.png');
  background-position: center top;
}
#menu_bar div.content div.fullscreen:hover {
  background-position: center bottom;
}
#menu_bar div.content div.fullscreenOn {
  width: 21px;
  background-image: url('../img/back/fs-on.png');
  background-position: center top;
}
/* Workspace */
#workspace {
  overflow: hidden;
  background: url('../img/back/notification-bg.png') repeat;
}
#workspace div.wallpaper {
  background: url('../img/back/wallpaper.jpg') repeat;
}
#workspace div.orig {
  background-position: right top;
}
#workspace div.cover {
  background-size: 100% 100%;
}
#workspace div.workspaceWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  -webkit-transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: left 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#workspace div.workspaceWrap div.space {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 30px 10px 2px;
  -moz-box-shadow: 0px 30px 10px 2px;
  box-shadow: -15px 15px 100px 0px #000000;
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -ms-transition: -ms-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: transform 600ms;
}
#workspace div.notificationTop {
  width: 350px;
  height: 25px;
  position: absolute;
  right: 0;
  z-index: 8;
}
#workspace div.notificationWrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: url('../img/back/notification-bg.png') repeat;
  z-index: 7;
}
#workspace div.notificationWrap div.header {
  width: 350px;
  height: 25px;
}
#workspace div.notificationWrap div.notifications {
  width: 300px;
  float: right;
}
/* Extend jQueryUI Style */
.ui-dialog a.ui-dialog-titlebar-close {
  left: 5px;
  top: 12px;
  width: 16px;
}
.ui-dialog div.ui-dialog-titlebar a.ui-state-hover {
  border: 0;
  padding: 1px;
  background: none;
}
.ui-dialog .ui-dialog-titlebar-minimize {
  height: 18px;
  margin: -10px 0 0;
  padding: 1px;
  position: absolute;
  left: 2.1em;
  top: 12px;
  width: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user_select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui-dialog .ui-dialog-titlebar-minimize:hover {
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar-minimize:focus {
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar-minimize span {
  display: block;
  margin: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user_select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui-dialog .ui-dialog-buttonpane {
  border-color: #ccc;
  margin: 0 5px;
  padding: 3px 12px 0;
  text-align: center;
}
.ui-dialog .ui-dialog-buttonpane button {
  float: none;
}
.ui-dialog .ui-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user_select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
  margin-right: 0;
}
/* Extend Max Style */
.-notify-container {
  top: 25px;
  left: auto;
  right: 15px;
}
.-notify-container .-notify-closeAll {
  left: auto;
  right: 303px;
}
#workspace div.workspaceWrap div.space .ui-dialog {
  padding: 0;
  -webkit-box-shadow: 0px 12px 70px 0px rgba(000, 000, 000, .8);
  -moz-box-shadow: 0px 12px 70px 0px rgba(000, 000, 000, .8);
  box-shadow: 0px 12px 70px 0px rgba(000, 000, 000, .8);
}
#workspace div.workspaceWrap div.space .ui-dialog .ui-dialog-title {
  font-size: 13px;
  float: none;
  margin: 0;
}
#workspace div.workspaceWrap div.space .ui-dialog .ui-dialog-content {
  overflow: hidden;
  padding: 0 1em 19px;
}
#workspace div.workspaceWrap div.space .ui-dialog > .ui-corner-all {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#workspace div.workspaceWrap div.space .ui-widget-content {
  background: #ededed;
}
#workspace div.workspaceWrap div.space .ui-widget-content .ui-state-default {
  color: #000;
  border: 1px solid #8c8c8c;
  background-color: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ececec 50%, #ececec 51%, #f3f3f3 63%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ececec 50%, #ececec 51%, #f3f3f3 63%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ececec 50%, #ececec 51%, #f3f3f3 63%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ececec 50%, #ececec 51%, #f3f3f3 63%, #f2f2f2 100%);
  background: linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ececec 50%, #ececec 51%, #f3f3f3 63%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
}
#workspace div.workspaceWrap div.space .ui-widget-content button.mainFocus {
  border-color: #5e4db1 #574c94 #504c75;
  background-color: #c8e0f3;
  background: -moz-linear-gradient(top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%);
  background: -webkit-linear-gradient(top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%);
  background: -o-linear-gradient(top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%);
  background: -ms-linear-gradient(top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%);
  background: linear-gradient(top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%);
  -webkit-animation: fxMainFocus 0.5s ease-out infinite alternate;
  -moz-animation: fxMainFocus 0.5s ease-out infinite alternate;
  -o-animation: fxMainFocus 0.5s ease-out infinite alternate;
  animation: fxMainFocus 0.5s ease-out infinite alternate;
}
#workspace div.workspaceWrap div.space .ui-widget-header {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9, #adadad);
  background: -webkit-linear-gradient(top, #e9e9e9, #adadad);
  background: -o-linear-gradient(top, #e9e9e9, #adadad);
  background: -ms-linear-gradient(top, #e9e9e9, #adadad);
  background: linear-gradient(top, #e9e9e9, #adadad);
  border: 0;
  border-bottom: 1px solid #6a6a6a;
  font-weight: normal;
  text-align: center;
  text-shadow: 0px 1px 0px #eeeeee;
  filter: dropshadow(color=#eeeeee, offx=0, offy=1);
}
#workspace div.workspaceWrap div.space .ui-dialog-outfocus {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(000, 000, 000, 0.7);
  -moz-box-shadow: 0px 3px 15px 0px rgba(000, 000, 000, 0.7);
  box-shadow: 0px 3px 15px 0px rgba(000, 000, 000, 0.7);
}
#workspace div.workspaceWrap div.space .ui-dialog-outfocus div.ui-widget-header {
  background-color: #fafafa;
  background: -moz-linear-gradient(top, #fafafa, #e0e0e0);
  background: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  background: -o-linear-gradient(top, #fafafa, #e0e0e0);
  background: -ms-linear-gradient(top, #fafafa, #e0e0e0);
  background: linear-gradient(top, #fafafa, #e0e0e0);
  border-bottom-color: #a7a7a7;
  color: #8e8e8e;
}
#workspace div.workspaceWrap div.space .ui-dialog-outfocus div.ui-widget-header a.ui-dialog-titlebar-minimize span.ui-icon-minusthick,
#workspace div.workspaceWrap div.space .ui-dialog-outfocus div.ui-widget-header a.ui-dialog-titlebar-close span.ui-icon-closethick {
  background: url('../img/icons.png') -42px 0;
}
#workspace div.workspaceWrap div.space .ui-button-text-only .ui-button-text {
  padding: 3px 13px;
}
#workspace div.workspaceWrap div.space .ui-listing-content {
  background-color: #ededed;
  background: -moz-linear-gradient(top, #ededed, #f9f9f9);
  background: -webkit-linear-gradient(top, #ededed, #f9f9f9);
  background: -o-linear-gradient(top, #ededed, #f9f9f9);
  background: -ms-linear-gradient(top, #ededed, #f9f9f9);
  background: linear-gradient(top, #ededed, #f9f9f9);
  padding: 0 !important;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped {
  margin-top: 25px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(000, 000, 000, 0.032);
  -moz-box-shadow: 0px 10px 10px 0px rgba(000, 000, 000, 0.032);
  box-shadow: 0px 10px 10px 0px rgba(000, 000, 000, 0.032);
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped thead:first-child tr:first-child th,
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td {
  border-bottom: 1px solid #dadada;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr:nth-child(odd) th {
  background-color: #f0f0f0;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td {
  background-color: #f4f4f4;
  background: -moz-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -webkit-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -o-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: -ms-linear-gradient(top, #f4f4f4, #f6f6f6);
  background: linear-gradient(top, #f4f4f4, #f6f6f6);
  padding: 0;
  line-height: 0;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td div {
  border-top: 1px solid #fff;
  padding: 8px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td:first-child {
  background: #EFEFEF !important;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr:nth-child(odd) td:first-child {
  background: #EFEFEF !important;
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td:nth-child(2) div {
  background-color: #f5f5f5;
  background: -moz-linear-gradient(right, #F5F5F5, #EFEFEF);
  background: -webkit-linear-gradient(right, #F5F5F5, #EFEFEF);
  background: -o-linear-gradient(right, #F5F5F5, #EFEFEF);
  background: -ms-linear-gradient(right, #F5F5F5, #EFEFEF);
  background: linear-gradient(right, #F5F5F5, #EFEFEF);
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr:nth-child(odd) td:nth-child(2) div {
  background-color: #e8e8e8;
  background: -moz-linear-gradient(right, #e8e8e8, #EFEFEF);
  background: -webkit-linear-gradient(right, #e8e8e8, #EFEFEF);
  background: -o-linear-gradient(right, #e8e8e8, #EFEFEF);
  background: -ms-linear-gradient(right, #e8e8e8, #EFEFEF);
  background: linear-gradient(right, #e8e8e8, #EFEFEF);
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr td:last-child div {
  background-color: #f5f5f5;
  background: -moz-linear-gradient(left, #F5F5F5, #EFEFEF);
  background: -webkit-linear-gradient(left, #F5F5F5, #EFEFEF);
  background: -o-linear-gradient(left, #F5F5F5, #EFEFEF);
  background: -ms-linear-gradient(left, #F5F5F5, #EFEFEF);
  background: linear-gradient(left, #F5F5F5, #EFEFEF);
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr:nth-child(odd) td:last-child div {
  background-color: #e8e8e8;
  background: -moz-linear-gradient(left, #e8e8e8, #EFEFEF);
  background: -webkit-linear-gradient(left, #e8e8e8, #EFEFEF);
  background: -o-linear-gradient(left, #e8e8e8, #EFEFEF);
  background: -ms-linear-gradient(left, #e8e8e8, #EFEFEF);
  background: linear-gradient(left, #e8e8e8, #EFEFEF);
}
#workspace div.workspaceWrap div.space .ui-listing-content .table-striped tbody tr:nth-child(odd) td {
  background-color: #e9e9e9;
  background: -moz-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -webkit-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -o-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: -ms-linear-gradient(top, #e9e9e9, #e7e7e7);
  background: linear-gradient(top, #e9e9e9, #e7e7e7);
}
@-webkit-keyframes fxMainFocus {
  from {
    opacity: 1;
    border-color: #5e4db1 #574c94 #504c75;
  }
  to {
    opacity: 0.83;
    border-color: #8C8C8C;
  }
}
@-moz-keyframes fxMainFocus {
  from {
    opacity: 1;
    border-color: #5e4db1 #574c94 #504c75;
  }
  to {
    opacity: 0.83;
    border-color: #8C8C8C;
  }
}
@-o-keyframes fxMainFocus {
  from {
    opacity: 1;
    border-color: #5e4db1 #574c94 #504c75;
  }
  to {
    opacity: 0.83;
    border-color: #8C8C8C;
  }
}
@keyframes fxMainFocus {
  from {
    opacity: 1;
    border-color: #5e4db1 #574c94 #504c75;
  }
  to {
    opacity: 0.83;
    border-color: #8C8C8C;
  }
}
a.ui-dialog-titlebar-minimize span.ui-icon-minusthick,
a.ui-dialog-titlebar-close span.ui-icon-closethick {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}
a.ui-dialog-titlebar-minimize span.ui-icon-minusthick {
  background: url('../img/icons.png') -14px 0;
}
a.ui-dialog-titlebar-minimize span.ui-icon-minusthick:hover {
  background-position: -14px -14px;
}
a.ui-dialog-titlebar-close span.ui-icon-closethick {
  background: url('../img/icons.png') 0 0;
}
a.ui-dialog-titlebar-close span.ui-icon-closethick:hover {
  background-position: 0 -14px;
}
ul.fg-menu li.li-hover span.ui-icon-triangle-1-e {
  background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/south-street/images/ui-icons_ffffff_256x240.png);
  background-position: -32px -16px;
}
/*@gradientFrom: ~"top, #e1fcff 0%,#9ed3fd 50%,#7ec5fe 51%,#cdfcff 100%";
@gradientTo: ~"top, #c8e0f3 0%,#84b7f1 50%,#67aaf1 51%,#b4e0f4 100%";
.mainFocusFrom(@bgColor:#e1fcff) {
    border-color: #6154b1 #53516e #595190;
    background-color: @bgColor;
}
.mainFocusTo(@bgColor:#c8e0f3) {
    border-color: #5e4db1 #574c94 #504c75;
    background-color: @bgColor;
}
button.mainFocus {
    .animation(fxMainFocus 0.5s ease-out infinite alternate);
}
@-webkit-keyframes fxMainFocus {
    from { .mainFocusFrom; background: -webkit-linear-gradient(@gradientFrom); }
    to { .mainFocusTo; background: -webkit-linear-gradient(@gradientTo); }
}
@-moz-keyframes fxMainFocus {
    from {  .mainFocusFrom; background: -moz-linear-gradient(@gradientFrom); }
    to { .mainFocusTo; background: -webkit-linear-gradient(@gradientTo); }
}
@-o-keyframes fxMainFocus {
    from { .mainFocusFrom; background: -o-linear-gradient(@gradientFrom); }
    to { .mainFocusTo; background: -webkit-linear-gradient(@gradientTo); }
}
@keyframes fxMainFocus {
    from { .mainFocusFrom; background: linear-gradient(@gradientFrom); }
    to { .mainFocusTo; background: -webkit-linear-gradient(@gradientTo); }
}*/
button.ui-button-disabled {
  opacity: 0.4 !important;
}
button.ui-button-text-icon-primary {
  height: 23px;
  margin-top: 2px;
}
button.ui-button-text-icon-primary span.ui-button-text {
  padding-top: 0.3em;
}
